body {
    background: url("../images/leaves.png");
}

p {
    font-size: 24px;
    font-weight: bold;
}

#question {
    color: mediumvioletred;
    font-weight: normal;
    font-size: 28px;
    font-weight: bold;
}

#gameTitle {
    color: darkorange;
}

#time-count {
    color: darkolivegreen;
}

.answer-choice {
    color: goldenrod;
}

#result {
    color: indianred;
}

#correct-answer-display {
    color: darkcyan;
}

#correctDisplay {
    color: darkcyan;
}

#incorrectDisplay {
    color: indianred;
}

#unansweredDisplay {
    color: goldenrod;
}